
@media(max-width:1190px){
    header#header{
        width: 100%;
        padding: 0px 0px 0px 0px;
        img{
            width: 150px;
        }
        span{
            width: 6rem;
            font-size: 12px;
            img{
                width: 1rem;
            }
        }
        select{
            gap: 0;
            font-size: 12px;
        }
    }
    
    body{
        justify-content: center;
    }
    label{
        width : 20rem;
    }
    .title h1{
        font-size: 2rem;
        display: flex;
    }
    .title{
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0;
    }
    .container{
        background-color: black;
    }
    .email{
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
        align-items: center;
        input#email{
            width: 18rem;
        }
    }
    main{
        width: 100%;
        .container{
            width: 90%;
            .disfruta,.niños,.disfruta2,.descarga{
                .description{
                    width: 30rem;
                    h1{
                        text-align: center;
                        font-size: 2.5rem;
                    }
                    p{
                        text-align: center;
                    }
                }
                img{
                    width: 18rem;
                }
            }
        }
        
    }
}